# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DiscordJSONParser.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Data\DangerousGPT2\DiscordJSONParser\DiscordJSONParser\.idea\.idea.DiscordJSONParser.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
